ray
pandas==1.5.3
scikit-learn
matplotlib
seaborn
xgboost
ray
xgboost_ray
ray[train]
ipywidgets
mlflow
hyperopt
typer[all]
fastapi
uvicorn[standard]
black
black[jupyter]
flake8
isort
pre-commit
mkdocs
mkdocstrings
mkdocstrings-python